.App {
	text-align: center;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 0 0 3.75rem 0;
}

.container {
	background-color: var(--container-bg-color);
	padding: 4.38rem 3rem;
	min-width: 31.6rem;
}

.button-container {
	display: flex;
}
